        /*==============detatil price===============*/
.containprice{
    width: 356px;
    height: 50px;
}
.titlefruit {
    width: 256px;
    height: 50px;
    float: left;
}
.titlefruit h4{
    font-size: 16px;
    background-color: SeaGreen ;
    font-weight: bold;
    color: white;
    padding: 10px;
}
.price{
    width: 100px;
    height: 50px;
   float: right;
}
.price h4{
   text-align: center; 
   font-size: 18px;
   font-weight: bold;
   color: white;
   padding: 9px;
   background-color: MediumSeaGreen ;
}
.containprice1{
    width: 256px;
    height: 50px;
}
.titlefruit1 {
    width: 156px;
    height: 40px;
    float: left;
}
.titlefruit1 h4{
    font-size: 14px;
    background-color: SeaGreen ;
    font-weight: bold;
    color: white;
    padding: 9px;
}
.price1{
    width: 100px;
    height: 40px;
    float: right;
}
.price1 h4{
   text-align: center; 
   font-size: 14px;
   font-weight: bold;
   color: white;
   padding: 9px;
   background-color: MediumSeaGreen ;
}

.affected_img{
  display: block;
  height: auto;
}
.affected {
  position: relative;
  
}
.t1{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;    
  background: -webkit-linear-gradient(0deg, MediumSeaGreen, green); 
  background: -o-linear-gradient(0deg, MediumSeaGreen, green); 
  background: -moz-linear-gradient(0deg, MediumSeaGreen, green);
  background: linear-gradient(0deg, MediumSeaGreen, green);
  overflow: hidden;
  width: 356px;
  height: 0;
  transition: 0.5s ease;
}
.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;    
  background: -webkit-linear-gradient(0deg, MediumSeaGreen, green); 
  background: -o-linear-gradient(0deg, MediumSeaGreen, green); 
  background: -moz-linear-gradient(0deg, MediumSeaGreen, green);
  background: linear-gradient(0deg, MediumSeaGreen, green);
  overflow: hidden;
  width: 256px;
  height: 0;
  transition: 0.5s ease;
}
.affected:hover .overlay {
  height: 100%;
  opacity: 0.7;
}
.affected:hover .overlay1 {
  height: 100%;
  opacity: 0.7;
}